<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>AgriAdvanZ Registration</title>
   <link rel="stylesheet" href="/css/style.css" />
  <style>
   
  </style>
</head>

<body>

  <div class="card">
    <h3 class="card-title">Registration Form</h3>

    <form id="form" method="post" novalidate>
      <input type="text" id="farmername" name="farmername" class="form-control" placeholder="Farmer Name" />
      <p id="farmername_error" class="error-message">Enter valid Name</p>

      <input type="tel" id="phonenumber" name="phonenumber" class="form-control" placeholder="Phone Number" />
      <p id="phonenumber_error" class="error-message">Enter valid Phone Number</p>

      <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
      <p id="password_error" class="error-message">Enter valid password</p>

      <input type="number" id="land" name="land" class="form-control" placeholder="Land (acres)" />
      <p id="land_error" class="error-message">Enter valid land in acres</p>

      <input type="number" id="income" name="income" class="form-control" placeholder="Income" />
      <p id="income_error" class="error-message">Enter valid Income</p>

      <input type="number" id="investment" name="investment" class="form-control" placeholder="Investment" />
      <p id="investment_error" class="error-message">Enter valid Investment</p>

      <button type="submit">Submit</button>
    </form>

    <button type="button" class="btn-login" onclick="window.location.href='/login'">Login</button>

  </div>

</body>

</html>
